<html lang="en">
<head>
    <style>
        .container {
            display: grid;
            grid-template-columns: 440px 1fr 9px 1.22fr 9px 0.8fr 15px;
            grid-template-rows: auto 20px auto 50px;
            align-items: end;
            border : 5px double #1a1b1a;
        }
        .item:nth-child(1) {
            text-indent: 20;
        }
        .item:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }
        .item:nth-child(3) {
            grid-column: 4;
            grid-row: 1;
        }
        .item:nth-child(4) {
            grid-column: 6;
            grid-row: 1;
        }
        .item:nth-child(5) {
            grid-column: 1 / 8;
            grid-row: 3 / 4;
            justify-self: center;
        }
        .label {margin-bottom: 96px;}
        .label * {display: inline-block;vertical-align: top;}
        .label .left {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
        .label .center {background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
        .label .right {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}
        .customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
        .customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
        .customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
        .customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
        .customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script>
        countdowntime = new Date().getTime();
    </script>
</head>
<body style="width: 1200px;">
    <div class = "container">
        <h1 class = "item" id = "cctv_total_num">  총 감시 CCTV 대수 : 4대</h1>
        <h3 style="background-color: #e3e164;" class = "item" id = "big_disable"></h1>
        <h3 style="background-color: #dca27b;" class = "item" id = "middle_disable"></h1>     
        <h3 style="background-color: #ce6464;" class = "item" id = "small_disable"></h1>    
        <div class = "item" id="map" style="width:1000px;height:700px;"></div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=Your Kakao App key"></script>
    <script>
        // 차량별 제원
        car_able = 350
        mid_able = 300
        small_able = 250
        // cctv별 가용 도로폭 계산 함수 실행
        function able_cal1(distance){
            // sleep(1000)
            name = "1-sample_cctv.mp4"
            $.get("/get", { dst: distance, file_name : name }).done(function (data) {
            // console.log(distance);
            // console.log(data);
            able_length1 = data;
        });
        // return able_length1
        }
        function able_cal2(distance){
            // sleep(1000)
            name = "2-sample_cctv.mp4"
            $.get("/get", { dst: distance, file_name : name }).done(function (data) {
            // console.log(distance);
            // console.log(data);
            able_length2 = data;
        });
        // return able_length2
        }
        function able_cal3(distance){
            // sleep(1000)
            name = "3-sample_cctv.mp4"
            $.get("/get", { dst: distance, file_name : name }).done(function (data) {
            // console.log(distance);
            // console.log(data);
            able_length3 = data;
        });
        // return able_length3
        }
        function able_cal4(distance){
            // sleep(1000)
            name = "4-sample_cctv.mp4"
            $.get("/get", { dst: distance, file_name : name }).done(function (data) {
            // console.log(distance);
            // console.log(data);
            able_length4 = data;
        });
        // return able_length4
        }
        //cctv별 통행 불가 시간을 측정
        function d_time1() {
            var now = new Date().getTime();
            distance = Math.round((now-countdowntime)/1000);
            length1 = able_cal1(distance);
            // console.log(length1)
            // document.getElementById("distance_time").innerText = distance
            // document.getElementById("length").innerText = length;
            length_f1 = Number(length1);    //문자를 정수&실수형 숫자로 변환해줌
            // if (length_f1 == 0){
            //     document.getElementById("car_able").innerText = "인식불가"
            // }
            // else if (length_f1 > car_able){
            //     document.getElementById("car_able").innerText = "통행가능"
            // }else if (length_f1 < car_able){
            //     document.getElementById("car_able").innerText = "통행불가"
            // };
            // sleep(1000);
            return length_f1
        }
        function d_time2() {
            var now = new Date().getTime();
            distance = Math.round((now-countdowntime)/1000);
            length2 = able_cal2(distance);
            // console.log(length2)
            // document.getElementById("distance_time").innerText = distance
            // document.getElementById("length").innerText = length;
            length_f2 = Number(length2);    //문자를 정수&실수형 숫자로 변환해줌
            // if (length_f2 == 0){
            //     document.getElementById("car_able").innerText = "인식불가"
            // }
            // else if (length_f2 > car_able){
            //     document.getElementById("car_able").innerText = "통행가능"
            // }else if (length_f2 < car_able){
            //     document.getElementById("car_able").innerText = "통행불가"
            // };
            // sleep(1000);
            return length_f2
        }
        function d_time3() {
            var now = new Date().getTime();
            distance = Math.round((now-countdowntime)/1000);
            length3 = able_cal3(distance);
            // console.log(length3)
            // document.getElementById("distance_time").innerText = distance
            // document.getElementById("length").innerText = length;
            length_f3 = Number(length3);    //문자를 정수&실수형 숫자로 변환해줌
            // if (length_f3 == 0){
            //     document.getElementById("car_able").innerText = "인식불가"
            // }
            // else if (length_f3 > car_able){
            //     document.getElementById("car_able").innerText = "통행가능"
            // }else if (length_f3 < car_able){
            //     document.getElementById("car_able").innerText = "통행불가"
            // };
            // sleep(1000);
            return length_f3
        }
        function d_time4() {
            var now = new Date().getTime();
            distance = Math.round((now-countdowntime)/1000);
            length4 = able_cal4(distance);
            // console.log(length4)
            // document.getElementById("distance_time").innerText = distance
            // document.getElementById("length").innerText = length;
            length_f4 = Number(length4);    //문자를 정수&실수형 숫자로 변환해줌
            // if (length_f4 == 0){
            //     document.getElementById("car_able").innerText = "인식불가"
            // }
            // else if (length_f4 > car_able){
            //     document.getElementById("car_able").innerText = "통행가능"
            // }else if (length_f4 < car_able){
            //     document.getElementById("car_able").innerText = "통행불가"
            // };
            // sleep(1000);
            return length_f4
        }
        function d_time(name) {
            var now = new Date().getTime();
            var distance = Math.round((now-countdowntime)/1000);
            var length = able_cal(distance,name);
            // console.log(length)
            // document.getElementById("distance_time").innerText = distance
            // document.getElementById("length").innerText = length;
            // length_f = Number(length);    //문자를 정수&실수형 숫자로 변환해줌
            // if (length_f == 0){
            //     document.getElementById("car_able").innerText = "인식불가"
            // }
            // else if (length_f > car_able){
            //     document.getElementById("car_able").innerText = "통행가능"
            // }else if (length_f < car_able){
            //     document.getElementById("car_able").innerText = "통행불가"
            // };
            console.log(length)
            return length
        }
        // cctv 영상을 팝업 형태로 출력
        function popup_video(data) { 
            winW=500; 
            winH=650; 
            vodW=400; 
            vodH=600; 
            size= "width="+ winW +",height=" + winH; 
            path= "static/"+data
            popup = window.open("","name",size);

            popup.document.open(); 
            popup.document.write("<html><head>"); 
            popup.document.write("<title>"+data+"</title>"); 
            popup.document.write("</head><body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>"); 
            popup.document.write("<center><video src='"+path+"#t="+distance+"'autoplay muted width='"+vodW+" 'height='"+vodH+"'></video>"); 
            popup.document.write("</center>"); 
            popup.document.write("</body></html>"); 
            popup.document.close();
        }
        

        function get(selector, root = document) {
            return root.querySelector(selector);
        }
        
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(36.336020, 127.411106), // 지도의 중심좌표
                level: 7 // 지도의 확대 레벨
            };
        
        var map = new kakao.maps.Map(mapContainer, mapOption);
        
        var imageSrc_green = 'static/markers/001.png', // 마커이미지의 주소입니다    
            imageSrc_red = 'static/markers/002.png', // 마커이미지의 주소입니다    
            imageSrc_orange = 'static/markers/003.png', // 마커이미지의 주소입니다    
            imageSrc_yellow = 'static/markers/004.png', // 마커이미지의 주소입니다    
            imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
        
        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage_green = new kakao.maps.MarkerImage(imageSrc_green, imageSize, imageOption),
            markerImage_red = new kakao.maps.MarkerImage(imageSrc_red, imageSize, imageOption),
            markerImage_orange = new kakao.maps.MarkerImage(imageSrc_orange, imageSize, imageOption),
            markerImage_yellow = new kakao.maps.MarkerImage(imageSrc_yellow, imageSize, imageOption),
            markerPosition1 = new kakao.maps.LatLng(36.352726 , 127.427220), // 마커가 표시될 위치입니다
            markerPosition2 = new kakao.maps.LatLng(36.346018 , 127.447721), // 마커가 표시될 위치입니다
            markerPosition3 = new kakao.maps.LatLng(36.337737 , 127.381534), // 마커가 표시될 위치입니다
            markerPosition4 = new kakao.maps.LatLng(36.302728 , 127.367199); // 마커가 표시될 위치입니다
        
        // 마커를 생성합니다
        var marker1 = new kakao.maps.Marker({
          position: markerPosition1,
        });
        var marker2 = new kakao.maps.Marker({
          position: markerPosition2,
        });
        var marker3 = new kakao.maps.Marker({
          position: markerPosition3,
        });
        var marker4 = new kakao.maps.Marker({
          position: markerPosition4, 
        });
         // 커스텀 오버레이가 표시될 위치입니다 
        var overlayPosition1 = new kakao.maps.LatLng(36.352726 , 127.427270),
            overlayPosition2 = new kakao.maps.LatLng(36.346018 , 127.447771),
            overlayPosition3 = new kakao.maps.LatLng(36.337767 , 127.381584),
            overlayPosition4 = new kakao.maps.LatLng(36.302728 , 127.367199);
        
        var customOverlay1 = new kakao.maps.CustomOverlay({
            position: overlayPosition1})
        var customOverlay2 = new kakao.maps.CustomOverlay({
            position: overlayPosition2})
        var customOverlay3 = new kakao.maps.CustomOverlay({
            position: overlayPosition3})
        var customOverlay4 = new kakao.maps.CustomOverlay({
            position: overlayPosition4})
        
        // 경과시간을 표시해줄 오버레이
        var count_overlayPosition1 = new kakao.maps.LatLng(36.352726 , 127.427320),
            count_overlayPosition2 = new kakao.maps.LatLng(36.346018 , 127.447821),
            count_overlayPosition3 = new kakao.maps.LatLng(36.337767 , 127.381634),
            count_overlayPosition4 = new kakao.maps.LatLng(36.302728 , 127.367299);

        var count_customOverlay1 = new kakao.maps.CustomOverlay({
            position: count_overlayPosition1});
        var count_customOverlay2 = new kakao.maps.CustomOverlay({
            position: count_overlayPosition2});
        var count_customOverlay3 = new kakao.maps.CustomOverlay({
            position: count_overlayPosition3});
        var count_customOverlay4 = new kakao.maps.CustomOverlay({
            position: count_overlayPosition4});

        // 마커가 지도 위에 표시되도록 설정합니다
          
        function markers(marker,length_f,customOverlay,cctv_name,count_customOverlay,dis_start,dis_end){
        // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        var content_able = '<div class="customoverlay">' +
            '  <a onclick = popup_video("'+cctv_name+'")>' +
            '    <span class="title">통행가능</span>' +
            '  </a>' +
            '</div>';
        var content_disable = '<div class="customoverlay">' +
            '  <a onclick = popup_video("'+cctv_name+'")>' +
            '    <span class="title">통행불가</span>' +
            '  </a>' +
            '</div>';
        
        // 커스텀 오버레이를 생성합니다
        if (length_f > car_able){
            if (typeof customOverlay === "undefined"){
                customOverlay.setContent(content_able);
                // console.log('가능');
                marker.setImage(markerImage_green)
                marker.setMap(map);
                customOverlay.setMap(map);               
            }else{
                customOverlay.setMap(null);
                marker.setMap(null);
                count_customOverlay.setMap(null);
                marker.setImage(markerImage_green)
                marker.setMap(map);
                customOverlay.setContent(content_able);
                // console.log('가능');
                customOverlay.setMap(map);
            }
        }else if (length_f == 0){
            if (typeof customOverlay === "undefined"){
            }else{
                marker.setMap(null);
                customOverlay.setMap(null);
                count_customOverlay.setMap(null);
            }
        }
        else if (length_f > mid_able){
            if (typeof customOverlay === "undefined"){
                marker.setImage(markerImage_yellow)
                marker.setMap(map);
                customOverlay.setContent(content_disable);
                // console.log('불가');
                customOverlay.setMap(map);
            }else{
                customOverlay.setMap(null);
                marker.setMap(null);
                count_customOverlay.setMap(null);
                marker.setImage(markerImage_yellow)
                marker.setMap(map);
                customOverlay.setContent(content_disable);
                // console.log('불가');
                customOverlay.setMap(map);
                dis_end = new Date().getTime();
                dis_count = Math.round((dis_end-dis_start)/1000);
                console.log('시작');
                console.log(dis_start);
                console.log('종료');
                console.log(dis_end);
                console.log('차이');
                console.log(dis_count);
                count_customOverlay.setContent('<div class ="label"><span class="left"></span><span class="center">'+dis_count+'초 경과'+'</span><span class="right"></span></div>');
                count_customOverlay.setMap(map);
            }
        }
        else if (length_f > small_able){
            if (typeof customOverlay === "undefined"){
                marker.setImage(markerImage_orange)
                marker.setMap(map);
                customOverlay.setContent(content_disable);
                // console.log('불가');
                customOverlay.setMap(map);
            }else{
                customOverlay.setMap(null);
                marker.setMap(null);
                count_customOverlay.setMap(null);
                marker.setImage(markerImage_orange)
                marker.setMap(map);
                customOverlay.setContent(content_disable);
                // console.log('불가');
                customOverlay.setMap(map);
                dis_end = new Date().getTime();
                dis_count = Math.round((dis_end-dis_start)/1000);
                console.log('시작');
                console.log(dis_start);
                console.log('종료');
                console.log(dis_end);
                console.log('차이');
                console.log(dis_count);
                count_customOverlay.setContent('<div class ="label"><span class="left"></span><span class="center">'+dis_count+'초 경과'+'</span><span class="right"></span></div>');
                count_customOverlay.setMap(map);
            }
        }
        else{
            if (typeof customOverlay === "undefined"){
                marker.setImage(markerImage_red)
                marker.setMap(map);
                customOverlay.setContent(content_disable);
                // console.log('불가');
                customOverlay.setMap(map);
            }else{
                customOverlay.setMap(null);
                marker.setMap(null);
                count_customOverlay.setMap(null);
                marker.setImage(markerImage_red)
                marker.setMap(map);
                customOverlay.setContent(content_disable);
                // console.log('불가');
                customOverlay.setMap(map);
                dis_end = new Date().getTime();
                dis_count = Math.round((dis_end-dis_start)/1000);
                console.log('시작');
                console.log(dis_start);
                console.log('종료');
                console.log(dis_end);
                console.log('차이');
                console.log(dis_count);
                count_customOverlay.setContent('<div class ="label"><span class="left"></span><span class="center">'+dis_count+'초 경과'+'</span><span class="right"></span></div>');
                count_customOverlay.setMap(map);
            }
        };
        }
        function dis_start_cal(length_f,customOverlay,dis_start){
        
        if (length_f > car_able){
            if (typeof customOverlay === "undefined"){
                dis_start = new Date().getTime();
                return dis_start                
            }else{
                dis_start = new Date().getTime();
                return dis_start
            }
        }else if (length_f == 0){
            if (typeof customOverlay === "undefined"){
            }else{
                dis_start = new Date().getTime();
                return dis_start
            }
        }
        else if (length_f < car_able){
            if (typeof customOverlay === "undefined"){
                dis_start = new Date().getTime();
                return dis_start
            }else{
                return dis_start
            }
        };
        }
        // car_able = 350
        // mid_able = 300
        // small_able = 250
        function bignum_count(able_length1,able_length2,able_length3,able_length4){
            let lengths = [able_length1,able_length2,able_length3,able_length4]
            var big_count = 0
            
            for(let i of lengths){
                if (i < car_able && i != 0){
                    big_count += 1
                }                
            }
            return big_count
        }
        function midnum_count(able_length1,able_length2,able_length3,able_length4){
            let lengths = [able_length1,able_length2,able_length3,able_length4]
            var mid_count = 0
            
            for(let i of lengths){
                if(i < mid_able && i != 0){
                    mid_count += 1
                }
            }
            return mid_count
        }
        function smallnum_count(able_length1,able_length2,able_length3,able_length4){
            let lengths = [able_length1,able_length2,able_length3,able_length4]
            var small_count = 0
            for(let i of lengths){
                if(i < small_able && i != 0){
                    small_count += 1
                }
                
            }
            return small_count
        }
        function sleep(ms) {
            const wakeUpTime = Date.now() + ms;
            while (Date.now() < wakeUpTime) {}
        }
        function cal_run(){
            sleep(1500)
            d_time1()
            console.log(able_length1)
            dis_start_1 = dis_start_cal(able_length1,customOverlay1,dis_start_1)
            markers(marker1,able_length1,customOverlay1,"1-sample_cctv.mp4",count_customOverlay1,dis_start_1,dis_end_1)
            
            sleep(1500)
            d_time2()
            console.log(able_length2)
            dis_start_2 = dis_start_cal(able_length2,customOverlay2,dis_start_2)
            markers(marker2,able_length2,customOverlay2,"2-sample_cctv.mp4",count_customOverlay2,dis_start_2,dis_end_2)
            
            sleep(1500)
            d_time3()
            console.log(able_length3)
            dis_start_3 = dis_start_cal(able_length3,customOverlay3,dis_start_3)
            markers(marker3,able_length3,customOverlay3,"3-sample_cctv.mp4",count_customOverlay3,dis_start_3,dis_end_3)
            
            sleep(1500)
            d_time4()
            console.log(able_length4)
            dis_start_4 = dis_start_cal(able_length4,customOverlay4,dis_start_4)
            markers(marker4,able_length4,customOverlay4,"4-sample_cctv.mp4",count_customOverlay4,dis_start_4,dis_end_4)
            
            var small_count = smallnum_count(able_length1,able_length2,able_length3,able_length4)
            var mid_count = midnum_count(able_length1,able_length2,able_length3,able_length4)
            var big_count = bignum_count(able_length1,able_length2,able_length3,able_length4)
            document.getElementById("small_disable").innerText = "구급차 통행불가 : "+small_count+"곳"
            document.getElementById("middle_disable").innerText = "소형, 중형 소방차 통행불가 : "+mid_count+"곳"
            document.getElementById("big_disable").innerText = "대형 소방차 통행불가 : "+big_count+"곳"
        }
        var able_length1 = 0
        var able_length2 = 0
        var able_length3 = 0
        var able_length4 = 0
        var dis_start_1 = 0
        var dis_end_1 = 0
        var dis_start_2 = 0
        var dis_end_2 = 0
        var dis_start_3 = 0
        var dis_end_3 = 0
        var dis_start_4 = 0
        var dis_end_4 = 0
        // d_time1()
        // sleep(1000)
        // d_time2()
        // sleep(1000)
        // d_time3()
        // sleep(1000)
        // d_time4()
        // sleep(1000)
        setInterval(() => cal_run(), 14000);
        // setInterval(() => d_time("1-sample_cctv.mp4"), 4000);
        // setInterval(() => d_time("2-sample_cctv.mp4"), 4000);
        // setInterval(() => d_time("3-sample_cctv.mp4"), 4000);
        // setInterval(() => d_time("4-sample_cctv.mp4"), 4000);

        // setInterval(() => markers(marker1), 4000)
        // setInterval(() => markers(marker2), 4000)
        // setInterval(() => markers(marker3), 4000)
        // setInterval(() => markers(marker4), 4000)

    </script>
    
</body>
</html>
